<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <mat-card>
        <mat-card-content>
          <div class="text-xs-center pb-1" *ngIf="environment.name == 'production' || environment.name == 'staging'">
            <img src="assets/images/logo-dark.png" alt="" />
            <p class="mat-text-muted">SA Solution Net Adisyon Yazılım.</p>
          </div>
          <div class="text-xs-center pb-1" *ngIf="environment.name == 'development'">
            <img src="assets/images/logo-netakil.png" alt="" />
            <p class="mat-text-muted">SA Solution Net Adisyon Yazılım APP.</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
