
<div class="header">
  <div class="header-content">
    <div class="logo">
      <img src="https://www.uyumsoft.com/u/i/e-adisyonun-ozellikleri-nelerdir.jpg" alt="Logo" />
    </div>
    <div class="titles">
      <h1 class="main-title">Mahalle Oyun Salonu</h1>
      <h2 class="sub-title">Adisyon Uygulaması</h2>
    </div>
    <div class="user-info">
      <span>Hoş geldiniz, {{user?.userName}}</span>
      <button class="logout-btn" (click)="logout()">Çıkış Yap</button>
    </div>
    <!-- Hamburger Menu Icon (mobile) -->
    <button class="hamburger-menu" aria-label="Open Menu">&#9776;</button>
  </div>
</div>
