<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <h2>Adisyon Uygulaması</h2>
    <button class="toggle-btn" (click)="toggleSidebar()">&#9776;</button>
  </div>
  <ul class="sidebar-menu">
    <li class="menu-item">
      <a class="menu-link">Veri <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a [routerLink]="['/coredata/pscategory/list']" routerLinkActive="active">Malzeme/Ürün Kategori Listesi</a></li>
        <li><a [routerLink]="['/coredata/ps/list']" routerLinkActive="active">Malzeme/Ürün Listesi</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link">Satış <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a [routerLink]="['/sales/order/list']" routerLinkActive="active">Sipariş</a></li>
        <li><a [routerLink]="['/sales/accounting/list']" routerLinkActive="active">Hesap</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link">Raporlar <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a [routerLink]="['/report/list']" routerLinkActive="active">Genel Rapor</a></li>
      </ul>
    </li>
  </ul>
</div>
