<div class="app mat-typography" [dir]="dir" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar}">
  <mat-toolbar class="main-header" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="app-inner">
    <mat-card *ngIf="this.procurementRFQBid != null && this.procurementRFQBidClone != null ">
      <mat-card-content>
        <div class="mb-1">
          <h2 class="mt-0"><strong>Sipariş Formu</strong></h2>
          <p><strong>Teklif Tarihi:</strong> {{this.valueFormatterService.getDateDDMMYYYYFormat(this.procurementPurchaseOrder?.procurementRFQBid?.updatedDate)}}</p>
          <p><strong>Sipariş Tarihi:</strong> {{this.valueFormatterService.getDateDDMMYYYYFormat(this.procurementPurchaseOrder?.createdDate)}}</p>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-xs="50" fxFlex="100">
            <span><strong>Sipariş İstenilen</strong></span>
            <div fxLayout="column">
              <span><strong>Ad/Ünvan:</strong> {{this.partyService.getName(this.procurementPurchaseOrder?.supplier)}}</span>
              <span><strong>E-mail:</strong> {{this.procurementPurchaseOrder?.supplier.email}}</span>
              <span><strong>Telefon:</strong> {{this.procurementPurchaseOrder?.supplier.landPhone}}</span>
              <span><strong>Web Site:</strong> <a href="{{this.procurementPurchaseOrder?.supplier.webSiteUrl}}" target="_blank" style="text-decoration:underline; color:#0000bb;">{{this.procurementPurchaseOrder?.supplier.webSiteUrl}}</a></span>
              <span>
                <strong>Adres:</strong> {{this.procurementPurchaseOrder?.supplier.addressDistrictNeighborhoodVillage ? this.procurementPurchaseOrder?.supplier.addressDistrictNeighborhoodVillage : ''}}
                {{this.procurementPurchaseOrder?.supplier.addressStreetBlvAveName ? this.procurementPurchaseOrder?.supplier.addressStreetBlvAveName : ''}}
                {{this.procurementPurchaseOrder?.supplier.addressStreetNo ? this.procurementPurchaseOrder?.supplier.addressStreetNo : ''}}
                {{this.procurementPurchaseOrder?.supplier.addressTown ? this.procurementPurchaseOrder?.supplier.addressTown : ''}}
                {{this.procurementPurchaseOrder?.supplier.addressCity ? this.procurementPurchaseOrder?.supplier.addressCity : ''}}
                {{this.countryService.getCountryName(this.procurementPurchaseOrder?.supplier.addressCountryCodeISO3)}}
              </span>
            </div>
          </div>
          <div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
            <span><strong>Sipariş Eden</strong></span>
            <div fxLayout="column">
              <span><strong>Ad/Ünvan:</strong> {{this.procurementPurchaseOrder?.tenant.name}}</span>
              <span><strong>E-mail:</strong> {{this.procurementPurchaseOrder?.createdUser.email}}</span>
              <span><strong>Telefon:</strong> {{this.procurementPurchaseOrder?.tenant.landPhone}}</span>
              <span><strong>Web Site:</strong> <a href="{{this.procurementPurchaseOrder?.tenant.webSiteUrl}}" target="_blank" style="text-decoration:underline; color:#0000bb;">{{this.procurementPurchaseOrder?.tenant.webSiteUrl}}</a></span>
              <span>
                <strong>Adres:</strong> {{this.procurementPurchaseOrder?.tenant.addressDistrictNeighborhoodVillage ? this.procurementPurchaseOrder?.tenant.addressDistrictNeighborhoodVillage : ''}}
                {{this.procurementPurchaseOrder?.tenant.addressStreetBlvAveName ? this.procurementPurchaseOrder?.tenant.addressStreetBlvAveName : ''}}
                {{this.procurementPurchaseOrder?.tenant.addressStreetNo ? this.procurementPurchaseOrder?.tenant.addressStreetNo : ''}}
                {{this.procurementPurchaseOrder?.tenant.addressTown ? this.procurementPurchaseOrder?.tenant.addressTown : ''}}
                {{this.procurementPurchaseOrder?.tenant.addressCity ? this.procurementPurchaseOrder?.tenant.addressCity : ''}}
                {{this.countryService.getCountryName(this.procurementPurchaseOrder?.tenant.addressCountryCodeISO3)}}
              </span>
            </div>
          </div>
        </div>
        <br />
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-xs="50" fxFlex="100">
            <span><strong>Teklif Veren Kişi</strong></span>
            <div fxLayout="column">
              <span><strong>Ad Soyad:</strong> {{this.procurementRFQBid.providerPersonFirstName + ' ' + this.procurementRFQBid.providerPersonLastName}}</span>
              <span><strong>Görev/Pozisyon/Ünvan:</strong> {{this.procurementRFQBid.providerPersonPosition}}</span>
              <span><strong>E-mail:</strong> {{this.procurementRFQBid.providerPersonEmail}}</span>
            </div>
          </div>
        </div>
        <ol>
          <li>
            Verdiğiniz teklif sonrası listelenen kalemler için sipariş açılmıştır.
          </li>
          <li>
            Siparişteki ürünleri hazırlayıp belirtilen adrese termin tarihi içinde teslim edilmesini rica ederiz.
          </li>
        </ol>
      </mat-card-content>
      <mat-card-content>
        <h3><strong>Sipariş Edilenler Listesi</strong></h3>
        <p style="color:red;">Sipariş verilirse, irsaliye ve faturada ürünün "Talep Ref." kodunu yazarak göndermenizi rica ederiz.</p>
        <netakil-procurementpurchaseorderitem-list [loadDataFromService]="false"
                                                   [showFilter]="false"
                                                   [rows]="rows"
                                                   [showSupplier]="false"
                                                   [showSalesOrder]="true"
                                                   [showCustomer]="false"
                                                   [showUnitPrice]="true"
                                                   [showTaxPercent]="true"
                                                   [showBrandModelName]="true"
                                                   [showAmountOrder]="true"
                                                   [showAmountRequestRemaining]="true"
                                                   [showDeadlineDateRequest]="true"
                                                   [showDeliveryDatePossible]="true"
                                                   [showDeliveryAddress]="true"
                                                   [showActionButtonOne]="true"
                                                   [columnNameActionButtonOne]="'Dosyalar'"
                                                   [iconNameActionButtonOne]="'find_in_page'"
                                                   [isDisabledActionButtonOneFunction]="isActionButtonOneDisabledCallback"
                                                   (actionButtonOneClickedEvent)="onActionButtonOneClicked($event)"></netakil-procurementpurchaseorderitem-list>
      </mat-card-content>
      <mat-card>
        <mat-card-content>
          <h3><strong>Teklif Fiyat, Ödeme, Teslimat Bilgileri</strong></h3>
          <!--<div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1">
              <p class="text-uppercase text-mat ma-0 text-bold">Ürün/Hizmet Fiyat Toplamı (KDV Hariç)</p>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1 text-sm-right text-mat-left">
              <strong class="ma-0">{{this.procurementRFQBidClone.priceProductServiceTotal}} {{this.procurementRFQBid.currency}}</strong>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1">
              <p class="text-uppercase text-mat ma-0 text-bold">Nakliye Fiyatı (KDV Hariç)</p>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1 text-sm-right text-mat-left">
              <strong class="ma-0">{{this.procurementRFQBidClone.priceShipment}} {{this.procurementRFQBid.currency}}</strong>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1">
              <p class="text-uppercase text-mat ma-0 text-bold">İskonto/İndirim Tutarı (KDV Hariç)</p>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1 text-sm-right text-mat-left">
              <strong class="ma-0">{{this.procurementRFQBidClone.priceDiscount}} {{this.procurementRFQBid.currency}}</strong>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1">
              <p class="text-uppercase text-mat ma-0 text-bold">Toplam Fiyat (KDV Hariç)</p>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" class="mt-1 mb-1 text-sm-right text-mat-left">
              <strong class="ma-0">{{this.procurementRFQBidClone.priceTotal}} {{this.procurementRFQBid.currency}}</strong>
            </div>
          </div>-->
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1">
              <p class="text-uppercase text-mat ma-0 text-bold">Ödeme Şekli</p>
              <strong class="ma-0">{{this.procurementRFQService.getPaymentModelTypeName(this.procurementRFQBidClone.paymentModelType)}}</strong>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left">
              <p class="text-uppercase text-mat ma-0 text-bold">Ödeme Yöntemi/Modeli</p>
              <strong class="ma-0">{{this.procurementRFQService.getPaymentMethodTypeName(this.procurementRFQBidClone.paymentMethodType)}}</strong>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="isPayAfterOrderPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Sipariş/Sözleşme Tarihinden İtibaten Vade Gün Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterOrderDueDays}}</strong>
            </div>
            <!--<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isPayAfterOrderPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Sipariş/Sözleşme Tarihinden Vade Gün Sonrası Ödenecek Tutar (KDV Hariç)</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterOrderPrice}} {{this.procurementRFQBid.currency}}</strong>
            </div>-->
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="isPayAfterInvoicePricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Fatura Tarihinden İtibaren Vade Gün Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterInvoiceDueDays}}</strong>
            </div>
            <!--<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isPayAfterInvoicePricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Fatura Tarihinden Vade Gün Sonrası Ödenecek Tutar (KDV Hariç)</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterInvoicePrice}} {{this.procurementRFQBid.currency}}</strong>
            </div>-->
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="isPayAfterDeliveryPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Teslimat Tarihinden İtibaten Vade Gün Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterDeliveryDueDays}}</strong>
            </div>
            <!--<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isPayAfterDeliveryPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Teslimat Tarihinden Vade Gün Sonrası Ödenecek Tutar (KDV Hariç)</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterDeliveryPrice}} {{this.procurementRFQBid.currency}}</strong>
            </div>-->
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="isInstallmentBasedPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Taksit Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentInstallmentCount}}</strong>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isInstallmentBasedPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">Taksit Aralığı (Ay)</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentInstallmentPeriodMonths}}</strong>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="mt-1 mb-1" *ngIf="isMilestoneBasedPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">İş/Parça Teslimatı Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentMilestoneCount}}</strong>
            </div>
            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isMilestoneBasedPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">İş/Parça Teslimatı Ödeme Vade Gün Sayısı</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterMilestoneDeliveryDueDays}}</strong>
            </div>
            <!--<div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" class="mt-1 mb-1 text-sm-right text-mat-left" *ngIf="isMilestoneBasedPricingVisible()">
              <p class="text-uppercase text-mat ma-0 text-bold">İş/Parça Teslimatı Başına Ödenecek Tutar (KDV Hariç)</p>
              <strong class="ma-0">{{this.procurementRFQBidClone.paymentAfterMilestoneDeliveryDueDays}} {{this.procurementRFQBid.currency}}</strong>
            </div>-->
          </div>
          <div>
            <mat-form-field style="width: 100%">
              <textarea matInput
                        placeholder="Teklif Detayları ve Açıklamalar (Teklif ile ilgili şartlar, koşullar ve detaylar)"
                        [value]="this.procurementRFQBid.descriptionRFQBid"
                        title="Teklif Detayları ve Açıklamalar"
                        style="height: 200px; resize: none;"
                        readonly></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h3><strong>Tedarikçiye ait Teklif Formu</strong></h3>
          <p>Tedarikçinin Yüklemiş Olduğunuz İmzalı Teklif Formu.</p>
          <p *ngIf="!hasRFQBidDocument()">Tedarikçi kendine ait teklif formu yüklememiştir.</p>
          <button mat-raised-button color="primary" (click)="getRFQBidDocument()" [disabled]="!hasRFQBidDocument()">
            Dosyayı İndir ve Görüntüle
          </button>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h3><strong>Şirket ve Ürünlere ait Kalite, Standard, vb. Belge ve Sertifikalar</strong></h3>
          <ngx-datatable class='material striped'
                         [rows]="rowsQASCertificate"
                         [columnMode]="'flex'"
                         [headerHeight]="'auto'"
                         [footerHeight]="0"
                         [rowHeight]="'auto'">
            <ngx-datatable-column name="Dosya Adı" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Yükleme Tarih-Saat" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.createdDate }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sertifika/Belge Dosyası İndir" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-row="row">
                <button mat-raised-button mat-icon-button class="mr-1" color="accent" (click)="getQASCertificateDocument(row)">
                  <mat-icon>file_download</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <br />
    <br />
  </mat-sidenav-container>
</div>
