<mat-card>
  <mat-card-title>Ürün/Hizmet Listesi (sizin ya da tedarik ettiğiniz tüm ürün ve hizmetler)</mat-card-title>
  <mat-card-subtitle>Aramak istediğiniz ürün/hizmet yazın ENTER tuşuna basın</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="formSearchPS">
      <div>
        <mat-form-field style="width: 50%">
          <input matInput placeholder="Aranacak kategori" [matAutocomplete]="reactivePSCategoriesComponent" [formControl]="formSearchPS.controls['psCategory']" />
        </mat-form-field>
        <small *ngIf="formSearchPS.controls['psCategory'].hasError('noMatchingValue') && formSearchPS.controls['psCategory'].touched" class="mat-text-warn">Listeden seçin.</small>
      </div>
      <mat-autocomplete #reactivePSCategoriesComponent="matAutocomplete" [displayWith]="displayPSCategoryFunction">
        <mat-option *ngFor="let reactivePSCategory of reactivePSCategories | async" [value]="reactivePSCategory">
          <span>{{ displayPSCategoryFunction(reactivePSCategory) }}</span>
        </mat-option>
      </mat-autocomplete>
    </form>
    <netakil-psfeaturevalue-list *ngIf="psTempInSelectedPSCategory != null"
                                 [psId]="psTempInSelectedPSCategory.id"
                                 [ps]="psTempInSelectedPSCategory"
                                 [isEditable]="true"
                                 (psFeatureValueChangedEvent)="onPSFeatureValueChanged($event)"
                                 [showCreateButton]="false"
                                 [showFilter]="false"
                                 [shouldValidate]="true"
                                 [rowHeight]="30"
                                 [loadDataFromService]="false"
                                 [rowCountPerPage]="25"
                                 [selectionModelType]="'single'"
                                 [showActionButtonOne]="false"></netakil-psfeaturevalue-list>
    <button mat-raised-button color="primary" *ngIf="canSearchPSsByFeatureValues()" (click)="searchPSsByFeatureValues()">Kayıtlı Ürün Ara</button>
    <button mat-raised-button color="primary" *ngIf="canSearchPSsByFeatureValues()" (click)="searchZeroWeightPSsByPSCategoryId()">Ağırlık Sıfır Olanları Listele</button>
    <button mat-raised-button color="primary" *ngIf="canCreate()" (click)="createPSButtonClicked()">Ürün Oluştur</button>
    <br />
    <netakil-ps-list *ngIf="this.isSearched"
                     [showCreateButton]="false"
                     [loadDataFromService]="false"
                     [rowCountPerPage]="50"
                     [rows]="rows"
                     [showFilter]="false"
                     [selectionModelType]="'single'"
                     [showUpdateLinkColumn]="true"
                     [showPSAmountSecondUnit]="true"
                     [showActionButtonOne]="this.authService.isUserAllowed('coredata', 'ps/update')"
                     [columnNameActionButtonOne]="'Düzenle'"
                     [iconNameActionButtonOne]="'edit'"
                     (actionButtonOneClickedEvent)="onActionButtonOneClicked($event)"></netakil-ps-list>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="this.authService.isPowerUser()">
  <mat-card-title>Ürün/Hizmet İsimleri Güncelle</mat-card-title>
  <mat-card-subtitle>Listedeki tüm ürün/hizmet isimleri güncelleyin</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="updatePSNamesButtonClicked()">
      Listedeki Tüm Ürün/Hizmet İsimlerini Güncelle
    </button>
  </mat-card-content>
</mat-card>
