<mat-card>
  <mat-card-title>Ürün/Hizmet Kategorisi Düzenle</mat-card-title>
  <mat-card-subtitle>Lütfen tüm bilgileri girin</mat-card-subtitle>
  <mat-card-content>
    <netakil-pscategory-form [psCategory]="psCategory"
                             [crudType]="'update'"
                             (formValuesChangedEvent)="onFormValuesChanged($event)">
    </netakil-pscategory-form>
    <div *ngIf="this.authService.isPowerUser()">
      <p>Bu Kategoride Olası Ürün Sayısı: {{psCombinationCount}}</p>
      <p>Bu Kategoride Mevcut Ürün Sayısı: {{psCount}}</p>
    </div>
  </mat-card-content>
  <hr>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()" (click)="save()">Kaydet</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="this.authService.isPowerUser()" (click)="showPSCombinationCount()">Ürün Kombinasyon Sayısı Göster</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="this.authService.isPowerUser()" (click)="showPSCount()">Kayıtlı Ürün Sayısı Göster</button>
    <!--<button mat-raised-button color="primary" type="submit" *ngIf="this.authService.isPowerUser()" (click)="createPSs()">Ürünleri Oluştur</button>-->
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Ürün/Hizmet Kategorisi Özellik Listesi</mat-card-title>
  <mat-card-subtitle>Ürün/Hizmet kategorisine ait özellikler ekleyip değiştirebilirsiniz.</mat-card-subtitle>
  <mat-card-content>
    <netakil-psfeature-list [showCreateButton]="true"
                            (createButtonClickedEvent)="onCreatePSFeatureButtonClicked($event)"
                            [loadDataFromService]="false"
                            (dataLoadedEvent)="onPSFeatureListDataLoaded($event)"
                            [rows]="psFeatureRows"
                            [rowCountPerPage]="20"
                            [selectionModelType]="'single'"
                            (selectionChangedEvent)="onPSFeatureListSelectionChanged($event)"
                            (filterChangedEvent)="onPSFeatureListFilterUpdated($event)"
                            [showActionButtonOne]="true"
                            [columnNameActionButtonOne]="'Düzenle'"
                            [iconNameActionButtonOne]="'edit'"
                            (actionButtonOneClickedEvent)="onPSFeatureListActionButtonOneClicked($event)"
                            [showActionButtonTwo]="this.authService.isUserAllowed('coredata', 'pscategory/feature/delete')"
                            [columnNameActionButtonTwo]="'Sil'"
                            [iconNameActionButtonTwo]="'remove'"
                            (actionButtonTwoClickedEvent)="onPSFeatureListActionButtonTwoClicked($event)"></netakil-psfeature-list>
  </mat-card-content>
</mat-card>
<br />
<mat-card *ngIf="this.authService.isPowerUser() || this.authService.hasRoleClaim('project.manager')">
  <mat-card-title><strong>{{this.psCategory?.name}}</strong> Kategorisindeki Ürün/Hizmet Fiyatları Topluca Güncelle</mat-card-title>
  <mat-card-subtitle>Kategoride yer alan ürünlerin fiyatlarını güncelleme (sadece standart fiyatları günceller)</mat-card-subtitle>
  <mat-card-content>
    <netakil-psfeaturevalue-list *ngIf="psTempInSelectedPSCategory != null"
                                 [psId]="psTempInSelectedPSCategory.id"
                                 [ps]="psTempInSelectedPSCategory"
                                 [isEditable]="true"
                                 (psFeatureValueChangedEvent)="onPSFeatureValueChanged($event)"
                                 [showCreateButton]="false"
                                 [showFilter]="false"
                                 [shouldValidate]="true"
                                 [rowHeight]="30"
                                 [loadDataFromService]="false"
                                 [rowCountPerPage]="25"
                                 [selectionModelType]="'single'"
                                 [showActionButtonOne]="false"></netakil-psfeaturevalue-list>
    <p><strong>Müşteriye özel fiyatsa müşteri seçin. Müşteri seçmek zorunda değilsiniz</strong></p>
    <netakil-customer-list [showCreateButton]="false"
                           [showWarningNoPSCategoryNoSalesPerson]="false"
                           [loadDataFromService]="true"
                           [rowCountPerPage]="5"
                           [selectionModelType]="'single'"
                           [showActionButtonOne]="false"
                           [showActionButtonTwo]="false"
                           (selectionChangedEvent)="onCustomerSelectionChanged($event)"></netakil-customer-list>
    <br />
    <button mat-raised-button color="primary" (click)="searchPSPricesByFeatureValuesPartial()">
      Belirtilen Özelliklere Sahip ve Seçilen Müşteri Fiyatlarını Listele
    </button>
    <br />
    <br />
    <form [formGroup]="formPriceCoefficient">
      <div>
        <mat-form-field class="procurement-rfq-bid-number-input-container">
          <input matInput placeholder="Yeni Fiyat Katsayısı" [formControl]="formPriceCoefficient.controls['newPriceCoefficient']" price-formatter-tr />
        </mat-form-field>
        <small *ngIf="formPriceCoefficient.controls['newPriceCoefficient'].hasError('notNumeric') && formPriceCoefficient.controls['newPriceCoefficient'].touched" class="mat-text-warn">Rakam girin.</small>
      </div>
    </form>
    <mat-checkbox [(ngModel)]="this.isPriceChangedApproved"
                  name="cb"
                  color="primary"
                  (change)="checkboxChechedChanged($event.checked)"
                  [indeterminate]="false"
                  [disabled]="false"
                  [align]="'start'">
      Katsayı Kontrol Edildi, Güncellemeyi Onaylıyorum
    </mat-checkbox>
    <br />
    <br />
    <p class="mat-text-warn">{{this.priceUpdateMessage}}</p>
    <button mat-raised-button color="primary" (click)="updatePSPricesWithGivenFeaturesAndCustomer()" [disabled]="!this.formPriceCoefficient.valid || !this.isPriceChangedApproved">
      Belirtilen Özelliklere Sahip ve Seçilen Müşteri Fiyatlarını Katsayı ile Güncelle
    </button>
    <br />
    <br />
    <netakil-psprice-list [showCreateButton]="false"
                          [filteringEnabled]="true"
                          [showFilter]="true"
                          [loadDataFromService]="false"
                          [rows]="rowsPSPrices"
                          [rowCountPerPage]="20"
                          (dataLoadedEvent)="onPSPriceDataLoaded($event)"
                          [showActionButtonOne]="false"
                          [showUpdateLinkColumn]="true"></netakil-psprice-list>
  </mat-card-content>
</mat-card>
<br />
<mat-card *ngIf="this.authService.isPowerUser()">
  <mat-card-title>Ürün/Hizmet Upload</mat-card-title>
  <mat-card-subtitle>{{this.psCategory?.name}} kategorisi için ürünleri fiyatları ile yükleyin</mat-card-subtitle>
  <mat-card-content>
    <p><strong>Eğer sözleşmeli müşteriye özel fiyat girilecekse müşteri seçin</strong></p>
    <p class="small">Aramak istediğiniz müşteri adını yazın, istediğinize tıklayın. Aradığınız yoksa, Müşteri tanımlayın.</p>
    <netakil-customer-list [showCreateButton]="true"
                           (createButtonClickedEvent)="onCreateCustomerButtonClicked($event)"
                           [loadDataFromService]="true"
                           [rowCountPerPage]="5"
                           [selectionModelType]="'single'"
                           [showActionButtonOne]="false"
                           (selectionChangedEvent)="onCustomerSelectionChanged($event)"></netakil-customer-list>

    <br />
    <p><strong>{{this.psCategory?.name}}</strong> için fiyatlı ürün listesi dosyası</p>
    <h4>Yüklemek İstediğiniz Dosyayı Seçin ve "Dosya Yükle" Butonuna Tıklayın</h4>
    <p>Sadece Excel (*.xls, *.xlsx uzantılı) yükleyebilirsiniz. Dosya boyutu en fazla 50 MB (Mega Bayt) olabilir.</p>

    <input type="file" ng2FileSelect [uploader]="uploaderPS" />
    <br />
    <div class="clearfix mb-1"></div>

    <div class="mb-1">
      <p>Dosya Yükleme Durumu:</p>
      <mat-progress-bar mode="determinate" value="{{uploaderPS?.progress}}"></mat-progress-bar>
    </div>
    <button mat-raised-button color="primary"
            (click)="uploaderPS.uploadAll()" [disabled]="!uploaderPS?.getNotUploadedItems().length">
      Dosya Yükle
    </button>
    <br />
    <p>Yüklenen ürün ve fiyat sayısı: {{this.importedCountPSPrice}}</p>
    <p>Yükleme hatalari: {{this.importErrors}}</p>
  </mat-card-content>
</mat-card>
