<div class="app mat-typography" [dir]="dir" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar}">
  <mat-toolbar class="main-header" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="app-inner">
    <mat-card *ngIf="this.salesOffer != null">
      <mat-card-content>
        <div class="mb-1">
          <h2 class="mt-0"><strong>Teklif Bilgileri</strong></h2>
          <p><strong>Tarih:</strong> {{this.valueFormatterService.getDateDDMMYYYYFormat(this.salesOffer.updatedDate)}}</p>
          <p><strong>Teklif No:</strong> {{this.salesOffer.salesOfferNumber}} &nbsp; &nbsp; <strong>Revizyon No:</strong> {{this.salesOffer.revisionNumber}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="this.salesOffer != null && this.salesOffer.stateId != 'design'">
      <mat-card-content>
        <h3><strong>Teklif Formu Dosyası</strong></h3>
        <p *ngIf="!hasDocumentSalesOfferTenantSignedFileName()">Teklif Formu yüklenmemiştir</p>
        <button mat-raised-button color="primary" (click)="getDocumentSalesOfferTenantSignedFileName()" [disabled]="!hasDocumentSalesOfferTenantSignedFileName()">
          Teklifi İndir ve Görüntüle
        </button>
        <br />
        <br />
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="this.salesOffer != null">
      <mat-card-content>
        <h3><strong>Teklif Proje Dosyaları</strong></h3>
        <ngx-datatable *ngIf="this.salesOffer != null"
                       class='material striped'
                       [rows]="this.salesOffer.customerFiles"
                       [columnMode]="'flex'"
                       [headerHeight]="'auto'"
                       [footerHeight]="0"
                       [rowHeight]="'auto'">
          <ngx-datatable-column name="Dosya Adı" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.fileName }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Yükleme Tarih-Saat" *ngIf="uploaderCustomerFiles?.options.isHTML5" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.createdDate }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dosya İndir" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <button mat-raised-button mat-icon-button class="mr-1" color="accent" (click)="getCustomerFile(row)">
                <mat-icon>file_download</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <br />
        <br />
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="this.salesOffer != null && this.salesOffer.stateId == 'customer-approved'">
      <mat-card-content>
        <h3><strong>Satış Sözleşmesi</strong></h3>
        <p *ngIf="!hasDocumentSalesContractCustomerSignedFileName()">Satış Sözleşmesi henüz yüklenmemiştir</p>
        <button mat-raised-button color="primary" (click)="getDocumentSalesContractCustomerSignedFileName()" [disabled]="!hasDocumentSalesContractCustomerSignedFileName()">
          Sözleşme İndir ve Görüntüle
        </button>
        <br />
        <br />
      </mat-card-content>
    </mat-card>
    <br />
    <br />
  </mat-sidenav-container>
</div>
