<mat-card>
  <mat-card-title>Ürün/Hizmet Kategorisi Ekle</mat-card-title>
  <mat-card-subtitle>Lütfen tüm bilgileri girin</mat-card-subtitle>
  <mat-card-content>
    <netakil-pscategory-form [psCategory]="psCategory"
                     [crudType]="'create'"
                     (formValuesChangedEvent)="onFormValuesChanged($event)">
    </netakil-pscategory-form>
  </mat-card-content>
  <hr>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()" (click)="save()">Kaydet</button>
  </mat-card-actions>
</mat-card>
