
<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Başlık -->
  <div class="main-content">
    <app-header></app-header>

    <mat-card-header class="mat-content">
      <mat-card-title class="category-card-title">Siparişler</mat-card-title>
    </mat-card-header>

     <!--Accounting Detail Component--> 
    <sasolution-sales-accounting-detail
      [ELEMENT_DATA]="orders"
      (printOrdersClick)="printOrders()"
      (closeTableClick)="closeTable()"
      (payAllOrdersClick)="payAllOrders()">
    </sasolution-sales-accounting-detail>

  </div>
</div>
