<div class="app mat-typography" [dir]="dir" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar}">
  <mat-toolbar class="main-header" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="app-inner">
    <mat-card>
      <mat-card-content>
        <p><strong>Talep İle İlgili Resim, Çizim, Dosyaları</strong></p>
        <p>Talebe ait resim, çizim, dosya, vb. listesi.</p>
        <ngx-datatable *ngIf="this.procurementRequest != null"
                       class='material striped'
                       [rows]="this.procurementRequest.medias"
                       [columnMode]="'flex'"
                       [headerHeight]="'auto'"
                       [footerHeight]="0"
                       [rowHeight]="'auto'">
          <ngx-datatable-column name="Adı" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dosya Adı" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.fileName }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Yükleme Tarih-Saat" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.createdDate }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dosya İndir" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <button mat-raised-button mat-icon-button class="mr-1" color="accent" (click)="getProcurementRequestMedia(row)">
                <mat-icon>file_download</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>        
      </mat-card-content>
    </mat-card>
    <br />
    <br />
  </mat-sidenav-container>
</div>
