.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
.selected-row {
  background-color: #e0f7fa !important; // Seçili satırın arka plan rengini değiştirme
  color: #00796b; // Seçili satırdaki yazı rengini değiştirme
}
