
<div class="category-form-container">
  <mat-card class="category-card">

    <!-- Başlık -->
    <mat-card-header>
      <mat-card-title class="category-card-title">Ürün Kategori Ekle</mat-card-title>
    </mat-card-header>

    <!-- Kart İçeriği -->
    <mat-card-content>
      <form [formGroup]="categoryForm" class="category-form">
        <mat-form-field appearance="fill" class="category-form-field">
          <mat-label>Kategori Adı</mat-label>
          <input matInput formControlName="name" placeholder="Kategori adı girin" required>
        </mat-form-field>

        <!-- Kategori Kodu Input Alanı -->
        <mat-form-field appearance="fill" class="category-form-field">
          <mat-label>Kategori Kodu</mat-label>
          <input matInput formControlName="categoryCode" placeholder="Kategori kodu otomatik olarak oluşacak" [readonly]="true">
        </mat-form-field>

        <div class="form-actions">
          <button mat-flat-button color="primary" class="submit-button" *ngIf="!isEditMode" (click)="update()">Düzenle</button>
          <button mat-flat-button color="primary" class="submit-button" *ngIf="isEditMode" (click)="create()">Ekle</button>
          <button mat-flat-button color="warn" class="cancel-button" (click)="cancel()">İptal</button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
